.show-reviews-modal {
  min-width: 50vw;
  min-height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 80vw;
  max-height: 90vh;
  overflow: scroll;
}

.show-reviews-modal h2 {
  font-size: 1.5em;
  font-weight: bold;
}

div.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
