div.map-modal {
  display: block;
  width: 80vw;
  max-width: 80vw;
  height: 80vh;
  max-height: 80vh;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

div.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
