.restaurant-overview {
  padding: 16px;
}

input#name-search {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
}

.restaurant-grid {
  padding-top: 20px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
