.restaurant-overview {
  padding: 16px;
}

.restaurant-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basic-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input#name-search {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
}

button.advanced-filter-btn {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button.advanced-filter-btn:hover {
  background-color: var(--primary-darkened);
}

div.advanced-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

div.advanced-filters input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
}

div.advanced-filters select {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  overflow: scroll;
}

div.advanced-filters select option {
  border-radius: 20px;
  padding: 4px 5px;
}

.restaurant-grid {
  padding-top: 20px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
