<div class="restaurant-overview">
  <div class="restaurant-filters">
    <div class="basic-filters">
      <input type="text" id="name-search" name="name-search" placeholder="Search for restaurants..." (input)="onNameSearch($event)">
      <button class="advanced-filter-btn" (click)="toggleAdvancedFilters()"><fa-icon [icon]="faFilter"></fa-icon></button>
    </div>
    @if(advancedFilters()) {
      <div class="advanced-filters">
        <label>
          <fa-icon [icon]="faStar"></fa-icon> Min. Rating:
          <input type="number" id="min-stars" name="min-stars" [defaultValue]="0" value="0" min="0" max="5" (input)="onMinStarsSet($event)">
        </label>
        <label>
          <fa-icon [icon]="faTruckFast"></fa-icon> Max. Delivery Time:
          <input type="number" id="max-delivery-time" name="max-delivery-time" [defaultValue]="" min="0" (input)="onMaxDeliveryTimeSet($event)"> min
        </label>
      </div>
    }
  </div>
  <div class="restaurant-grid">
    @for (restaurant of filteredRestaurants(); track restaurant.id) {
      <app-restaurant-grid-element [restaurant]="restaurant" [rating]="getRestaurantRating(restaurant.id)" [cuisines]="getRestaurantCuisines(restaurant.id)">
      </app-restaurant-grid-element>
    }
  </div>
</div>
