.dish-grid-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  border: 2px solid #ddd;
  background-color: #fff;
}

button.add-to-cart-btn {
  cursor: pointer;
  color: #fff;
  background-color: #1c1c1c;
  border-radius: 20px;
  padding: 5px 10px;
}

button.add-to-cart-btn:hover {
  background-color: #474747;
}
