.dish-grid-element {
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;

  border: 2px solid #ddd;
  background-color: #fff;
}

.dish-image {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dish-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button.add-to-cart-btn {
  cursor: pointer;
  color: #fff;
  background-color: #1c1c1c;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 0.2s;
}

button.add-to-cart-btn:hover {
  background-color: #474747;
}
