.dish-details-modal {
  min-width: 50vw;
  min-height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 80vw;
  max-height: 90vh;
  overflow: scroll;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}

div.dish-details-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

div.dish-details-overview {
  flex: 1;
}

details.dish-reviews summary {
  cursor: pointer;
}

div.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.dish-price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.dish-controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dish-controls button {
  color: white;
  background-color: var(--primary);

  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

.dish-controls button:hover {
  background-color: var(--primary-darkened);
}
