<nav>
  <a class="nav-home" (click)="onHomeClicked()">★ Q1 Food</a>
  <ul>
    <li><a (click)="onRestaurants()">🍴 Restaurants</a></li>
    <li><a>🍔 Essen</a></li>
    @if (isLoggedIn) {
      <li><app-points-badge></app-points-badge></li>
      <li><a (click)="onProfile()">👤 Mein Profil</a></li>
      @if (isAdmin) {
        <li><a (click)="onAdmin()">👔 Admin</a></li>
      }
      <li class="user-info">
        <span class="username">{{ currentUser?.userName }}</span>
        <a (click)="onLogout()" class="logout-btn">Logout</a>
      </li>
    } @else {
      <li><a (click)="onLogin()" class="login-btn">Login</a></li>
    }
  </ul>
</nav>
