nav {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  position: sticky;
  color: #ffffff;
}

nav a.nav-home {
  font-weight: bold;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
  padding: 20px;
  height: 100%;
}

a:hover {
  background-color: var(--primary-darkened)
}
