nav {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  position: sticky;
  color: #ffffff;
  padding: 10px;
  /*box-shadow: 10px 5px 84px 38px rgba(0,0,0,0.4);*/
}

nav a.nav-home {
  font-weight: bold;
}

nav ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  padding: 20px;
  height: 100%;
}

a:hover {
  background-color: var(--primary-darkened)
}
