div {
  margin: 5px;
  padding: 5px;
  background-color: var(--primary);
}

input, textarea {
  background-color: #ffffff;
  color: #000000;
}

form, h4 {
  color: #ffffff;
}


button {
  font-weight: bold;
  text-decoration: underline;
}
