label.address-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;

  background-color: var(--primary-light);
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  margin: 10px 0;
}

div.address-name {
  font-weight: bold;
}
