.settings-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  background-color: rgba(255, 115, 0, 0.9);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.settings-button:hover {
  background-color: rgb(112, 103, 96);
}

.element-image {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
