:host {
  display: flex;
  flex-direction: column;
}

.restaurant-grid-element {
  aspect-ratio: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  border: 2px solid #ddd;
  background-color: #fff;
  transition: border-color 0.2s;
}

.restaurant-grid-element:hover {
  border-color: #000;
}

.restaurant-image {
  aspect-ratio: 1;
  width: 100%;
  max-height: 100%;
}

.restaurant-cuisines {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  gap: 5px;
  font-size: 0.75em;
}

.restaurant-cuisines span.cuisine-tag {
  background-color: var(--primary);
  color: #ffffff;
  padding: 0 8px;
  border-radius: 10px;
}
.restaurant-cuisines span.no-cuisines {
  color: #989898;
}

.restaurant-distance {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
