.restaurant-grid-element {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  border: 2px solid #ddd;
  background-color: #fff;
  transition: border-color 0.2s;
}

.restaurant-grid-element:hover {
  border-color: #000;
}

.restaurant-image {
  aspect-ratio: 1;
  width: 100%;
  max-height: 100%;
}
