<div class="restaurant-flex">
  <div class="dish-section">
    <div class="restaurant-image">
      <app-image-display [imageDto]="imageDto()"></app-image-display>
    </div>
    <div class="restaurant-content">
      <h1>{{restaurant()?.name}}</h1>


      <div class="restaurant-options">
        <div class="options-left-container">
          <div class="restaurant-geoinfo">
            <span class="restaurant-distance" (click)="openMap()"><app-distance-badge [distance]="distance()"></app-distance-badge></span>
            <span class="restaurant-delivery-estimate"><app-delivery-estimate-badge [deliveryTime]="deliveryEstimate()"></app-delivery-estimate-badge></span>
          </div>
        </div>
        <div class="options-right-container">
          <span class="restaurant-rating"><app-star-rating [rating]="getRestaurantRating().avg" (click)="openReviewModal()"></app-star-rating> ({{getRestaurantRating().count}})</span>
          @if(authService.isLoggedIn()) {
            <button (click)="openWriteReviewModal()"><fa-icon [icon]="faStar"></fa-icon> Review</button>
            <button (click)="openCart()"><fa-icon [icon]="faCartShopping"></fa-icon> Cart ({{cartService.getCartSize(restaurantId)}})</button>
          }
        </div>
      </div>

      <div class="dish-grid">
        @for (dish of dishes(); track dish.id) {
          <app-dish-grid-element [dish]="dish" [rating]="getMenuItemRating(dish.id)">
          </app-dish-grid-element>
        }
        @empty {
          <p class="empty-message">Restaurant has no dishes available.</p>
        }
      </div>
    </div>
  </div>
  @if(authService.isLoggedIn() && cartShown()) {
    <div class="cart-container">
      <div class="cart-section">
        <button (click)="closeCart()" class="close-cart-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
        <app-cart-sidebar [restaurantId]="restaurantId"></app-cart-sidebar>
      </div>
    </div>
  }
</div>
