<div class="restaurant-flex">
  <div class="dish-section">
    <div class="restaurant-image">
      <app-image-display [imageDto]="imageDto()"></app-image-display>
    </div>
    <div class="restaurant-content">
      <h1>{{restaurant()?.name}}</h1>


      <div class="restaurant-options">
        <div class="restaurant-rating-container" (click)="openReviewModal()">
          <span class="restaurant-rating"><app-star-rating [rating]="getRestaurantRating().avg"></app-star-rating> ({{getRestaurantRating().count}})</span>
        </div>
        @if(authService.isLoggedIn()) {
          <button (click)="openWriteReviewModal()"><fa-icon [icon]="faStar"></fa-icon> Review</button>
          <button (click)="openCart()"><fa-icon [icon]="faCartShopping"></fa-icon> Cart ({{cartService.getCartSize()}})</button>
        }
      </div>

      <div class="dish-grid">
        @for (dish of dishes(); track dish.id) {
          <app-dish-grid-element [dish]="dish" [rating]="getMenuItemRating(dish.id)">
          </app-dish-grid-element>
        }
        @empty {
          <p class="empty-message">Restaurant has no dishes available.</p>
        }
      </div>
    </div>
  </div>
  @if(authService.isLoggedIn() && cartShown()) {
    <div class="cart-section">
      <button (click)="closeCart()" class="close-cart-btn"><fa-icon [icon]="faXmark"></fa-icon></button>
      <app-cart-sidebar></app-cart-sidebar>
    </div>
  }
</div>
