.order-details-modal {
  min-width: 50vw;
  min-height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 80vw;
  max-height: 90vh;
  overflow: scroll;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
}

div.order-item {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--primary-light);
}

div.order-total {
  font-weight: bold;
}
