.review-modal {
  min-width: 50vw;
  min-height: 50vh;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-modal h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.review-modal input.rating {
  margin-left: 15px;
  padding: 5px;
}

.review-modal textarea {
  padding: 10px;
}

input.rating, textarea {
  border: 1px solid #000000;
  border-radius: 10px;
  height: 100%;
}

input.rating:invalid {
  border: 1px solid red;
}

div.review-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

div.review-buttons button {
  color: white;
  background-color: var(--primary);

  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

div.review-buttons button:hover {
  background-color: var(--primary-darkened);
}

div.review-buttons button.cancel {
  background-color: #a1a1a1;
}

div.review-buttons button.cancel:hover {
  background-color: #808080;
}
