/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --primary: #ff7300;
  --primary-darkened: #cc5e00;
  --primary-light: #ffb984;
  --secondary: #ffffff;
  --tertiary: #ffffff;
  --disabled: #aaaaaa;
}

body {
  font-family: Arial, sans-serif;
}
