/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --primary: #ff7300;
  --secondary: #ffffff;
  --tertiary: #ffffff;
}

body {
  font-family: Arial, sans-serif;
}
