<div class="order-card">
  <div class="order-card-header">
    <p>Order #{{order.id}}</p>
    <p>Status={{order.status}}<p>
    <p>"{{order.name}}" ({{order.type}})<br>{{order.createdAt | date:'short'}}, {{order.paymentMethod}}, {{order.paidAmount}}€</p>
    <app-address-card [address]="order.address"></app-address-card>
    <button (click)="loadOrderItems()"><u>Show Items</u></button>
    @if (orderItems.length > 0) {
      <div>
        @for (item of orderItems; track item.id) {
          <app-item-card [orderItem]="item"></app-item-card>
        }
      </div>
    }
  </div>
</div>

