<div>
  <label class="card-container">

    <div class="card-select-container">
      @if(card.isDefault) {
        <input type="radio" name="card-select" class="card-select" (change)="selectCard()" checked>
      }
      @else {
        <input type="radio" name="card-select" class="card-select" (change)="selectCard()">
      }
    </div>

    <div class="card-block">
      <div class="card-name">{{card.cardName}}</div>
      <div class="card-line">**** **** **** {{card.last4}}</div>
      <div class="card-line">{{card.cardHolderName}} - {{card.expiryMonth}}/{{card.expiryYear}}</div>
    </div>

  </label>
</div>
